<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">

        <!-- Suppliers -->
        <li class="nav-item">
            <a class="nav-link" href="/supplier/">
                <i class="fas fa-box-open"></i>
                <span>Suppliers</span></a>
        </li>

        <!-- Guests -->
        <li class="nav-item">
            <a class="nav-link" href="/guest/">
                <!--<i class="fas fa-male"></i>-->
                <i class="fas fa-users"></i>
                <span>Guests</span></a>
        </li>

        <!-- Rooms -->
        <li class="nav-item">
            <a class="nav-link" href="/room/">
                <i class="fas fa-bed"></i>
                <span>Rooms</span></a>
        </li>

        <!-- Facilities -->
        <li class="nav-item">
            <a class="nav-link" href="/facility/">
                <i class="fas fa-fw fa-table"></i>
                <span>Facilities</span></a>
        </li>

        <!-- Accounts-->
        <li class="nav-item">
            <a class="nav-link" href="/account/">
                <i class="fas fa-user-circle"></i>
                <span>Accounts</span></a>
        </li>

        <!-- Calendar -->
        <li class="nav-item">
            <a class="nav-link" href="/calendar/">
                <i class="fas fa-calendar-alt"></i>
                <span>Reservations</span></a>
        </li>

        <!-- TODO: Discuss with other team where to put this, other place is located in navbar -->
        <!-- Switch to Restaurant dashbaord -->
        <li class="nav-item">
            <a class="nav-link" href="/restaurant-dashboard/">
                <i class="fas fa-utensils"></i>
                <span>Go to Restaurant</span></a>
        </li>
    </ul>

    <div id="content-wrapper">
        <div class="container-fluid">