<!-- Back button for dashboard TODO: adding all components and make it dynamic {{title}} -->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-secondary btn-block" href="/dashboard/">Back</a>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-block add-item" data-toggle="modal"
                        data-target="#item-modal">
                    <i class="fas fa-plus"></i> Add
                </button>
            </div>
        </div>
    </div>
</div>